
.field {
  background-color:  white;
  border:            1px dotted #ddd;
  box-sizing:        border-box;
  margin:            1em;
  padding:           1em;

  label {
    font-size:        1.2em;
  }

  input, textarea {
    font-size:        1.2em;
  }
}


.actions {
  background-color:  white;
  border:            1px dotted #bbb;
  box-sizing:        border-box;
  margin:            1em;
  padding:           1em;

  input[type=submit] {
    padding:          0.5em;
    background:       #22aaff;
    border:           0 none;
    border-radius:    1em;
    color:            white;
    font-size:        1.2em;
  }
}